.idea/modules.xml
.idea/OpenGL_Lab.iml
.idea/workspace.xml
Lab01_rysowanie_r116/Detector.js
Lab01_rysowanie_r116/example01.html
.idea/vcs.xml
Lab01_rysowanie_r116/example02.html
Lab01_rysowanie_r116/example03.html
Lab01_rysowanie_r116/example04.html
Lab01_rysowanie_r116/three.js
Lab02_oświetlenie_r97_2021/01-ambient-and-spotlight.html
Lab02_oświetlenie_r97_2021/02-point-light.html
Lab02_oświetlenie_r97_2021/03-spot-light.html
Lab02_oświetlenie_r97_2021/04-directional-light.html
Lab02_oświetlenie_r97_2021/05-hemisphere-light.html
Lab02_oświetlenie_r97_2021/dat.gui.js
Lab02_oświetlenie_r97_2021/grasslight-big.jpg
Lab02_oświetlenie_r97_2021/jquery-1.9.0.js
Lab02_oświetlenie_r97_2021/OrbitControls.js
Lab02_oświetlenie_r97_2021/stats.js
Lab02_oświetlenie_r97_2021/three.js
Lab03_tekstury_r113/01-basic-texture.html
Lab03_tekstury_r113/02-bump-map.html
Lab03_tekstury_r113/02-bump-map.rar
Lab03_tekstury_r113/03-normal-map.html
Lab03_tekstury_r113/04-skybox.html
Lab03_tekstury_r113/05-reflection.html
Lab03_tekstury_r113/CurveExtras.js
Lab03_tekstury_r113/dat.gui.js
Lab03_tekstury_r113/DAT.GUI.min.js
Lab03_tekstury_r113/Detector.js
Lab03_tekstury_r113/info.css
Lab03_tekstury_r113/info.js
Lab03_tekstury_r113/jquery-1.9.0.js
Lab03_tekstury_r113/jquery-1.9.1.js
Lab03_tekstury_r113/jquery-ui.css
Lab03_tekstury_r113/jquery-ui.js
Lab03_tekstury_r113/OrbitControls.js
Lab03_tekstury_r113/ParametricGeometries.js
Lab03_tekstury_r113/ParametricGeometry.js
Lab03_tekstury_r113/stats.js
Lab03_tekstury_r113/test.html
Lab03_tekstury_r113/three.js
Lab03_tekstury_r113/THREEx.FullScreen.js
Lab03_tekstury_r113/THREEx.KeyboardState.js
Lab03_tekstury_r113/THREEx.WindowResize.js
Lab03_tekstury_r113/textures/bathroom-normal.jpg
Lab03_tekstury_r113/textures/bathroom.jpg
Lab03_tekstury_r113/textures/brick-wall.jpg
Lab03_tekstury_r113/textures/checkerboard.jpg
Lab03_tekstury_r113/textures/darker_wood.jpg
Lab03_tekstury_r113/textures/DarkSea-xneg.jpg
Lab03_tekstury_r113/textures/DarkSea-xpos.jpg
Lab03_tekstury_r113/textures/DarkSea-yneg.jpg
Lab03_tekstury_r113/textures/DarkSea-ypos.jpg
Lab03_tekstury_r113/textures/DarkSea-zneg.jpg
Lab03_tekstury_r113/textures/DarkSea-zpos.jpg
Lab03_tekstury_r113/textures/Dice-Blue-1.png
Lab03_tekstury_r113/textures/Dice-Blue-2.png
Lab03_tekstury_r113/textures/Dice-Blue-3.png
Lab03_tekstury_r113/textures/Dice-Blue-4.png
Lab03_tekstury_r113/textures/Dice-Blue-5.png
Lab03_tekstury_r113/textures/Dice-Blue-6.png
Lab03_tekstury_r113/textures/metal-floor-normal.jpg
Lab03_tekstury_r113/textures/metal-floor.jpg
Lab03_tekstury_r113/textures/metal-rust.jpg
Lab03_tekstury_r113/textures/plaster-diffuse.jpg
Lab03_tekstury_r113/textures/plaster-normal.jpg
Lab03_tekstury_r113/textures/plaster.jpg
Lab03_tekstury_r113/textures/soccer_texture_bump.png
Lab03_tekstury_r113/textures/stone-bump.jpg
Lab03_tekstury_r113/textures/stone.jpg
Lab03_tekstury_r113/textures/weave-bump.jpg
Lab03_tekstury_r113/textures/weave.jpg
Lab03_tekstury_r113/textures/wood-2.jpg
